@import url("../../../index.css");

.head {
    background: #fff;
    border-radius: 15px;
    overflow-y: auto;
    max-height: 90vh;
    width: 30%;
}

.head::-webkit-scrollbar {
    width: 4px;
}

.head::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: var(--tertiary);
}

.head_img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.head .active {
    color: #fff;
    background: var(--blue);
}

.body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 45%;
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
}

.body .react-calendar {
    background: var(--primary);
    width: auto;
    max-width: none;
}

.body .react-calendar__navigation__label__labelText {
    font-weight: 600;
    color: var(--blue);
}

.body .react-calendar__tile {
    border-right: 1px solid rgba(128, 128, 128, 0.401);
    border-bottom: 1px solid rgba(128, 128, 128, 0.401);
    padding: 20px;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 10px;
}

.body .react-calendar__tile react-calendar__month-view__days__day {
    color: var(--blue);
}

.body .react-calendar__month-view__days__day--weekend {
    color: var(--darkred);
}

.body .react-calendar__tile--active,
.body .react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: var(--skyblue) !important;
    color: var(--primary) !important;
}

.tail {
    width: 35%;
    border-radius: 15px;
    background: #fff;
}

.tail img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.head, .tail {
    box-shadow: 2px 4px 4px #70707047;
}

.head, .body, .tail {
    background: var(--primary);
}

@media (max-width: 991.98px) {
    .head, .body, .tail {
        justify-content: center;
        width: 100%;
    }

    .head .head_employee {
        display: flex !important;
        background: var(--primary);
    }

    .head .head_employees {
        height: 30vh;
    }

    .head .head_employees_hide {
        display: none;
    }

    .body {
        order: 3;
        margin-bottom: 100px;
    }

    .tail .justify-content-between,
    .tail .text-start {
        padding: 0 20px;
    }

    .hr_lg .hr_dashboard {
        flex-direction: column;
    }
      
}