@import url('../../index.css');

.arrow {
    position: absolute;
    top: 47%;
    right: 0; /* Adjust as needed */
    transform: translateY(-50%)
}

.sidebar {
    position: relative;
    background: #f3f3ff;
    clip-path: polygon(0% 0%, 90% 0, 100% 48%, 90% 100%, 0% 100%);
    height: 100vh;
    background-image: url("/images/nav_bg.svg");
}

.hide_sidebar {
    margin-left: -250px;
}

.sidebar .button_group a {
    margin: 15px 0;
    color: var(--secondary);
    position: relative;
}

.sidebar .button_group a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background: var(--darkorange);
    transition: width 0.3s ease;
}

.sidebar a:hover::after,
.sidebar a:hover {
    width: 100%;
    color: var(--darkorange);
    font-weight: 500;
}

.sidebar .papiverse_logo {
    margin: 10px 0;
}

.sidebar .papiverse_logo:hover::after {
    width: 0;
}

.sidebar .active {
    color: var(--primary) !important;
    background: var(--darkorange);
}

.sidebar .active:hover::after {
    width: 0;
}

@media (max-width: 1039.98px) {
    .sidebar {
        display: none;
    }
}

